apps/backend-v1(deprecated)/src/state_machine/workflow.asl.json
{
  "Comment": "Timbre video-to-music pipeline workflow",
  "StartAt": "RunCoordinator",
  "States": {
    "RunCoordinator": {
      "Type": "Task",
      "Resource": "${CoordinatorFunctionArn}",
      "Next": "RunAnalyzer",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "HandleFailure",
        "ResultPath": "$.error"
      }]
    },
    "RunAnalyzer": {
      "Type": "Task",
      "Resource": "${AnalyzerFunctionArn}",
      "Next": "RunGenerateAudio",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "HandleFailure",
        "ResultPath": "$.error"
      }]
    },
    "RunGenerateAudio": {
      "Type": "Task",
      "Resource": "${AudioGeneratorFunctionArn}",
      "Next": "RunAudioVideoOps",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "HandleFailure",
        "ResultPath": "$.error"
      }]
    },
    "RunAudioVideoOps": {
      "Type": "Task",
      "Resource": "${AudioVideoOpsFunctionArn}",
      "Next": "GenerateSummary",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "HandleFailure",
        "ResultPath": "$.error"
      }]
    },
    "GenerateSummary": {
      "Type": "Task",
      "Resource": "${CoordinatorFunctionArn}",
      "End": true,
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "HandleFailure",
        "ResultPath": "$.error"
      }]
    },
    "HandleFailure": {
      "Type": "Task",
      "Resource": "${FailureHandlerFunctionArn}",
      "End": true
    }
  }
}